In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./销售收入1.xlsx')

In [7]:
df.head()

,id,会计期间,year,sales,_Nobs,_R2,_adjR2,_b_year,_b_cons,_fitted,nsales,sales_mean,nsales_sd
0,1,2000-12-31,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2001-12-31,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2002-12-31,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2003-12-31,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2004-12-31,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.iloc[30, 10]

5757000000.0