In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./销售收入.xlsx')

In [3]:
df.head()

   id        会计期间  year  sales
0   1  1999-12-31  1999    NaN
1   1  2000-12-31  2000    NaN
2   1  2002-12-31  2002    NaN
3   1  2003-12-31  2003    NaN
4   1  2004-12-31  2004    NaN

In [10]:
years = df.year.unique()

In [11]:
years.sort()

In [12]:
years

array([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [13]:
len(years)

20

In [14]:
import numpy as np

In [27]:
data = []
for i in range(len(years)):
    row = [None] * len(years)
    for j in range(i, len(years)):
        result = 5 - (years[j] - years[i])
        if 1 <= result <= 5:
            row[j] = int(result)
    data.append(row)

In [28]:
np.array(data)

array([[5, 4, 3, 2, 1, None, None, None, None, None, None, None, None,
        None, None, None, None, None, None, None],
       [None, 5, 4, 3, 2, 1, None, None, None, None, None, None, None,
        None, None, None, None, None, None, None],
       [None, None, 5, 4, 3, 2, 1, None, None, None, None, None, None,
        None, None, None, None, None, None, None],
       [None, None, None, 5, 4, 3, 2, 1, None, None, None, None, None,
        None, None, None, None, None, None, None],
       [None, None, None, None, 5, 4, 3, 2, 1, None, None, None, None,
        None, None, None, None, None, None, None],
       [None, None, None, None, None, 5, 4, 3, 2, 1, None, None, None,
        None, None, None, None, None, None, None],
       [None, None, None, None, None, None, 5, 4, 3, 2, 1, None, None,
        None, None, None, None, None, None, None],
       [None, None, None, None, None, None, None, 5, 4, 3, 2, 1, None,
        None, None, None, None, None, None, None],
       [None, None, None, None, None, None, None, None, 5, 4, 3, 2, 1,
        None, None, None, None, None, None, None],
       [None, None, None, None, None, None, None, None, None, 5, 4, 3, 2,
        1, None, None, None, None, None, None],
       [None, None, None, None, None, None, None, None, None, None, 5, 4,
        3, 2, 1, None, None, None, None, None],
       [None, None, None, None, None, None, None, None, None, None, None,
        5, 4, 3, 2, 1, None, None, None, None],
       [None, None, None, None, None, None, None, None, None, None, None,
        None, 5, 4, 3, 2, 1, None, None, None],
       [None, None, None, None, None, None, None, None, None, None, None,
        None, None, 5, 4, 3, 2, 1, None, None],
       [None, None, None, None, None, None, None, None, None, None, None,
        None, None, None, 5, 4, 3, 2, 1, None],
       [None, None, None, None, None, None, None, None, None, None, None,
        None, None, None, None, 5, 4, 3, 2, 1],
       [None, None, None, None, None, None, None, None, None, None, None,
        None, None, None, None, None, 5, 4, 3, 2],
       [None, None, None, None, None, None, None, None, None, None, None,
        None, None, None, None, None, None, 5, 4, 3],
       [None, None, None, None, None, None, None, None, None, None, None,
        None, None, None, None, None, None, None, 5, 4],
       [None, None, None, None, None, None, None, None, None, None, None,
        None, None, None, None, None, None, None, None, 5]], dtype=object)

In [30]:
ami_df = pd.DataFrame(data, columns=years, index=years)

In [31]:
ami_df.to_excel('ainio.xlsx')